{% load utils %}
{% load  django_markdown %}
{% load pybb_tags %}


<div class="col-md-12">
    <div class="panel {% block panel-class %}panel-info{% endblock %}">
        <div class="panel-heading">
            {% block article-type %}Article{% endblock %}: {{object.title}}
            <div class="pull-right">
                <span class="fa fa-clock-o"></span> Posted {{object.created}}
                by {% username object.author %}
            </div>
        </div>
        <div class="panel-body article-content">

            <div class="popup-image thumbnail-article-content">
                {% include "core/gallery/include/thumbnail.html" with picture=object.picture %}
            </div>
            {{object.text|markdown}}

            {% if object.related.all %}
            <hr />
            <h4>Related tricks, sports and articles:</h4>
            <div class="row">
                    {% for related in object.related.all.generic_objects %}
                        {% include "core/base_articles/include/thumbnail.html" with object=related %}
                    {% endfor %}
            </div>
            {% endif %}

            {% block abilities %}
            {% endblock %}
        </div>
        <div class="panel-footer">
            &nbsp;
            <div style="float:right;color:grey">
                <span class="fa fa-clock-o"></span> Posted {{object.created}}
                by {% username object.author %}
            </div>
        </div>
    </div>

    {% if user|pybb_may_create_post:topic %}
        {% include "pybb/post_form.html" %}
    {% else %}
        {% if not user.is_authenticated %}
            <h4>Questions? Remarks? We really want to hear your feedback!</h4>
            {% include 'pybb/_need_to_login_message.html' %}
        {% endif %}
    {% endif %}
    {% for post in post_list %}
        {% cycle 'odd' 'even' as rowcolors silent %}
        {% include "pybb/post_template.html" %}
    {% endfor %}
</div>
