{% load utils %}
{% load  django_markdown %}

<div class="col-md-12">
{% for article in object_list %}
    <div class="bs-callout {% block callout-class %}bs-callout-info{% endblock %}">
        <div style="float:right;color:grey">
            <span class="fa fa-clock-o"></span> Posted {{article.created|timesince}} ago
            by {% username article.author %}
        </div>
        <a href="{{ article.get_absolute_url }}">
            <h4>
                {{article.title}}
            </h4>
        </a>
        {{article.text|markdown|truncatechars_html:200}} <a href="{{article.get_absolute_url}}" style="float: right">Read more</a>
    </div>
{% endfor %}
</div>
