{% load cloudinary %}

<div class="col-md-3">
    <a
            href="{{object.get_absolute_url}}"
            data-gallery-url="{{picture.gallery.get_absolute_url}}"
            class="thumbnail thumbnail-article"
            title="{{object.title}}">
        <img
            src="{% cloudinary_url object.picture.image width=250 height=200 crop="limit" flags='progressive' %}"
            style="height: 200px; width: 100%; display: block;"
            class="img-rounded"
        />
        <div class="caption">
            <h4>{{object.title}}</h4>
        </div>
    </a>
</div>
