{% extends "core/account/dogs/index.html" %}

{% load crispy_forms_tags %}

{% block jumbotron %}
{% endblock %}


{% block breadcrumb %}
{{block.super}}
<li><a href="#">Add new</a></li>
{% endblock %}


{% block content %}
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Add new puppy
        </div>
        <div class="panel-body">
            <form action="{% url 'add_dog' %}" method="post" data-parsley-validate>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            {% csrf_token %}
                            {{form|crispy}}
                            <button type="submit" class="btn btn-primary pull-right">Submit</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}
