<div class="row">
    <div class="col-md-4">
        <a class="btn btn-block btn-social btn-facebook" href="javascript:allauth.facebook.login('', 'authenticate', 'login')">
            <i class="fa fa-facebook"></i> Sign-in with Facebook to post a comment
        </a>
    </div>
</div>