{% load pybb_tags %}
{% load i18n %}


<li><a href="/">Home</a></li>
<li><a href="{% url 'pybb:index' %}">Forum</a></li>
{% if object %}
    {% if object.get_parents %}
        {% for obj in object.get_parents %}
            <li>{% pybb_link obj %}</li>
        {% endfor %}
    {% endif %}
        <li>{% pybb_link object %}</li>
{% endif %}
