{% load url from future %}
{% load i18n pybb_tags %}

<form class="post-form"
      action="
        {% if forum %}
            {% url 'pybb:add_topic' forum.pk %}
        {% else %}
            {% if topic %}
                {% url 'pybb:add_post' topic.pk %}
            {% else %}
                {% url 'pybb:edit_post' pk=object.pk %}
            {% endif %}
        {% endif %}"
      method="post"
      enctype="multipart/form-data">

    {% csrf_token %}
    <fieldset>
        {% include "pybb/form_errors.html" %}
        <div class="hidden">
             {% if form.name %} {% include "pybb/form_field.html" with field=form.name %} {% endif %}
             {% if form.login %} {% include "pybb/form_field.html" with field=form.login %}  {% endif %}
             {% if form.body %} {% include "pybb/form_field.html" with field=form.body %}  {% endif %}
        </div>
        <div class="form-control">
            <h4>Questions? Remarks? We really want to hear your feedback!</h4>
            <div id="post_body" placeholder="Type your post here..."></div>
            <p class="submit">
                <input type="submit" class="btn btn-primary" value="Add a comment">
            </p>
        </div>
    </fieldset>
</form>
