{% extends "pybb:pybb/topic.html" %}


{% block title %}{{block.super}} - {{forum.name}}{% endblock %}


{% block content %}
{% if topic.forum.category.id == settings.COMMENTS_FORUM_CATEGORY %}
<div class="alert alert-success" role="alert">
    Comments for
    <a href="{{topic.commented.object.get_absolute_url}}">
        {{topic.commented.object.title}} article
    </a>
</div>
{% endif %}
{{block.super}}
{% endblock %}