{% extends "core/base_articles/tricks/details.html" %}
{% load utils %}

{% url 'dog_can_do' dog=user.default_dog.id pk=object.id slug=object.slug as dog_can_do_url %}


{% block breadcrumb %}
{{block.super}}
<li><a href="{{dog_can_do_url}}">{{dog.name}} can do this!</a></li>
{% endblock %}


{% block content %}
<div class="col-md-12">
    <div class="panel {% block panel-class %}panel-info{% endblock %}">
        <div class="panel-heading">
            {% block article-type %}Trick{% endblock %}: {{object.title}}
        </div>
        <div class="panel-body article-content">
            <form action="{{dog_can_do_url}}" method="post" id="dog_can_do_form" class="hidden">
                {% csrf_token %}
                <input name="picture_id" value="0" />
            </form>
            {% if user.dogs.count > 1 %}
                <ul class="list-inline">
                {% for dog in user.dogs.all %}
                    <li><a href="{% url 'dog_can_do' dog=dog.id pk=object.id slug=object.slug %}">{{dog.name}}</a></li>
                {% endfor %}
                </ul>
                <hr />
            {% endif %}
            <h4>
                Choose a picture that shows {{dog}} performing "{{trick.title}}" (<a href="{{trick.get_absolute_url}}">Cancel</a>)
            </h4>
            <br />
            <br />
            <div class="dog-can-do">
                {% include "core/gallery/include/gallery.html" with gallery=dog can_change=1 %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
