{% extends "core/base_articles/tricks/index.html" %}
{% load utils %}


{% block title %}{{object.title}} - dog tricks{% endblock %}


{% block breadcrumb %}
{{block.super}}
<li><a href="{{object.get_absolute_url}}">{{object.title}}</a></li>
{% endblock %}


{% block content %}
{% include "core/base_articles/tricks/include/details.html" %}
{% endblock %}


