{% extends "core/base_articles/index.html" %}
{% load utils %}


{% block title %}Teach your dog tricks{% endblock %}


{% block breadcrumb %}
{{block.super}}
<li><a href="{% url 'tricks' %}">Tricks</a></li>
{% endblock %}
