{% extends "index.html" %}

{% block jumbotron %}
{% endblock %}

{% block content %}
<div class="col-md-12">
    <h1>Requested page was not found :(</h1>
    <h1>Go to <a href="/">home page</a></h1>
</div>
{% endblock %}