<!DOCTYPE html>
{% load socialaccount %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}TrickyDogs - your dog is smarter than you think!{% endblock %}</title>
    <meta name="description" content="{% block meta-description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/vendor/bootstrap/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
    <link rel="stylesheet" href="/static/vendor/bootstrap/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/vendor/bootstrap/bootstrap-social.css">
    <link rel="stylesheet" href="/static/vendor/magnific-popup.css">
    <link rel="stylesheet" href="/static/vendor/select2.min.css" />
    <link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/vendor/jquery-ui-1.11.4/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/forum.css">
    <link rel="stylesheet" href="/static/css/main.css">

    <script src="/static/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
<div class="hidde1n" id="csrf-token" data-token="{{csrf_token}}"></div>
{% block body_content %}
{% endblock %}
<script src="/static/vendor/raven.min.js"></script>
<script>
Raven.config('https://7c7ffa2a1cd34903b4878c6cb852d126@app.getsentry.com/44870', {
	release: '1.1.1',
    //whitelistUrls: ['example.com/scripts/']
}).install();
Raven.setUser({
    id: '{{user}}'
});
</script>
<script>window.jQuery || document.write('<script src="/static/vendor/jquery-1.11.1.min.js"><\/script>')</script>

<script src="/static/vendor/bootstrap/bootstrap.min.js"></script>
<script src="/static/vendor/parsley.min.js"></script>
<script src="/static/vendor/select2.min.js"></script>
<script src="/static/vendor/jquery.magnific-popup.min.js"></script>
<script src="/static/vendor/jquery-ui-1.11.4/jquery-ui.min.js"></script>
<script src="/static/vendor/rangy-core.js"></script>
<script src="/static/vendor/to-markdown.js"></script>
<script src="/static/vendor/hallo.js"></script>
{% providers_media_js %}


<script src="/static/js/main.js?v=1"></script>
{% load cloudinary %}
{% cloudinary_includes %}
{% cloudinary_js_config %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{UA}}', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>
