{% extends "index.html" %}
{% load cloudinary %}
{% load  django_markdown %}

{% block content %}
<div class="col-md-4">
<div class="fb-page" data-href="https://www.facebook.com/trickydogs.net" data-width="350" data-height="409" data-hide-cover="false" data-show-facepile="true" data-show-posts="false" data-hide-cta="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/trickydogs.net"><a href="https://www.facebook.com/trickydogs.net">TrickyDogs.net</a></blockquote></div></div>
</div>
{% for object in objects %}
<div class="col-md-4">
    <div class="thumbnail">
        <a href="{{object.get_absolute_url}}">
            <img
                    src="{% cloudinary_url object.picture.image width=242 height=200 crop="limit" flags='progressive' %}"
                    style="height: 200px; width: 100%; display: block;"
                    class="img-rounded"
                    >
        </a>
        <div class="caption" style="height: 146px;overflow:hidden">
            <h3 style="">
                <a href="{{object.get_absolute_url}}">
                    {{object.title}}
                </a>
            </h3>
            <p style="height: 80px;overflow:hidden">
                {{object.text|markdown|striptags|truncatechars:200}}
            </p>
            <!--
            <a href="{{object.get_absolute_url}}" class="btn btn-primary btn-lg btn-block">View more</a>
            -->
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}