{% extends "base.html" %}

{% block body_content %}
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
{% include "include/toolbar.html" %}
<br />

<div class="container">
    <ol class="breadcrumb">
        {% block breadcrumb %}
        <li><a href="/">Home</a></li>
        {% endblock %}
    </ol>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}

    {% block jumbotron %}
        {% include "include/jumbotron.html" %}
    {% endblock %}
    <div class="row">
        {% block base_content %}
            {% block content %}
            {% endblock %}
        {% endblock %}
    </div>
    <hr>

    <footer>
        <p>
            &copy; <a href="/">TrickyDogs.net</a> 2015
            |
            <a href="{% url 'support' %}">Support</a>
            |
            <a href="{% url 'terms_of_service' %}">Terms of Service</a>
            |
            <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
        </p>
    </footer>
</div> <!-- /container -->
{% endblock %}
