{% extends "core/base_articles/sports/index.html" %}


{% block title %}{{object.title}} - {{block.super}}{% endblock %}


{% block breadcrumb %}
{{block.super}}
<li><a href="{{object.get_absolute_url}}">{{object.title}}</a></li>
{% endblock %}


{% block content %}
{% include "core/base_articles/sports/include/details.html" %}
{% endblock %}

