{% extends "core/base_articles/index.html" %}
{% load utils %}


{% block title %}Dog sports{% endblock %}


{% block breadcrumb %}
{{block.super}}
<li><a href="{% url 'sports' %}">Sports</a></li>
{% endblock %}
