{% extends "core/dogs/index.html" %}
{% load rules %}


{% block title %}{{object.breed}} - {{object.name}}{% endblock %}


{% block breadcrumb %}
{{block.super}}
<li><a href="{{object.get_absolute_url}}">{{object}}</a></li>
{% endblock %}


{% block content %}
{% has_perm 'core.change_dog' user object as can_change %}
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Dog: {{object.name}}
        </div>
        <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <table>
                            <tr>
                                <th>Name:</th>
                                <td>{{object.name}}</td>
                            </tr>
                            <tr>
                                <th>Breed:</th>
                                <td>{{object.breed}}</td>
                            </tr>
                            <!--
                            <tr>
                                <th>Gender</th>
                                <td>{{object.gender}}</td>
                            </tr>
                            -->
                            <tr>
                                <th>Age:</th>
                                <td>{{object.age}}</td>
                            </tr>
                            <!--
                            <tr>
                                <th>Trics</th>
                                <td><a href>foo</a>, <a href>bar</a></td>
                                <td><a title="Dog tricks" href>List</a></td>
                            </tr>
                            <tr>
                                <th>Sports</th>
                                <td><a href>foo</a>, <a href>bar</a></td>
                                <td><a title="All dogs sports" href>List</a></td>
                            </tr>
                            -->
                        </table>
                    </div>
                    <div class="col-md-8">
                        {% include "core/gallery/include/gallery.html" with gallery=object %}
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}