{% extends "core/dogs/index.html" %}


{% block content %}
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Our dogs
        </div>
        <div class="panel-body">
            <ul class="list-unstyled">
                {% for dog in object_list %}
                    <li>
                        <a href="{{dog.get_absolute_url}}">{{ dog.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}