{% extends "about/index.html" %}

{% block breadcrumb %}
{{block.super}}
<li><a href="{% url 'support' %}">Support</a></li>
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block content %}
<div class="col-md-12">
Contact <a href="mailto:admin@trickydogs.net">admin@trickydogs.net</a> if you need any help.
</div>
{% endblock %}