{% extends "about/index.html" %}

{% block breadcrumb %}
{{block.super}}
<li><a href="{% url 'terms_of_service' %}">Terms of Service</a></li>
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block content %}
<div class="col-md-12">
    <h1>Terms of Service ("Terms")</h1>
    <p>Last updated: May 24, 2015</p>

    <p>Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the http://www.trickydogs.net website (the "Service") operated by TrickyDogs ("us", "we", or "our").</p>

    <p>Your access to and use of the Service is conditioned upon your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who wish to access or use the Service.</p>

    <p><strong>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you do not have permission to access the Service.</strong></p>

    <p><strong>Communications</strong></p>

    <p>By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.</p>




    <p><strong>Content</strong></p>

    <p>Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material ("Content"). You are responsible for the Content that you post on or through the Service, including its legality, reliability, and appropriateness.</p>

    <p>By posting Content on or through the Service, You represent and warrant that: (i) the Content is yours (you own it) and/or you have the right to use it and the right to grant us the rights and license as provided in these Terms, and (ii) that the posting of your Content on or through the Service does not violate the privacy rights, publicity rights, copyrights, contract rights or any other rights of any person or entity. We reserve the right to terminate the account of anyone found to be infringing on a copyright.</p>

    <p>You retain any and all of your rights to any Content you submit, post or display on or through the Service and you are responsible for protecting those rights. We take no responsibility and assume no liability for Content you or any third party posts on or through the Service. However, by posting Content using the Service you grant us the right and license to use, modify, publicly perform, publicly display, reproduce, and distribute such Content on and through the Service. You agree that this license includes the right for us to make your Content available to other users of the Service, who may also use your Content subject to these Terms.</p>

    <p>TrickyDogs has the right but not the obligation to monitor and edit all Content provided by users.</p>

    <p>In addition, Content found on or through this Service are the property of TrickyDogs or used with permission. You may not distribute, modify, transmit, reuse, download, repost, copy, or use said Content, whether in whole or in part, for commercial purposes or for personal gain, without express advance written permission from us.</p>

    <p><strong>Accounts</strong></p>

    <p>When you create an account with us, you guarantee that you are above the age of 18, and that the information you provide us is accurate, complete, and current at all times. Inaccurate, incomplete, or obsolete information may result in the immediate termination of your account on the Service.</p>

    <p>You are responsible for maintaining the confidentiality of your account and password, including but not limited to the restriction of access to your computer and/or account. You agree to accept responsibility for any and all activities or actions that occur under your account and/or password, whether your password is with our Service or a third-party service. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</p>

    <p>You may not use as a username the name of another person or entity or that is not lawfully available for use, a name or trademark that is subject to any rights of another person or entity other than you, without appropriate authorization. You may not use as a username any name that is offensive, vulgar or obscene.</p>


    <p>We reserve the right to refuse service, terminate accounts, remove or edit content in our sole discretion.</p>



    <p><strong>Links To Other Web Sites</strong></p>

    <p>Our Service may contain links to third party web sites or services that are not owned or controlled by TrickyDogs.</p>

    <p>TrickyDogs has no control over, and assumes no responsibility for the content, privacy policies, or practices of any third party web sites or services. We do not warrant the offerings of any of these entities/individuals or their websites.</p>

    <p>You acknowledge and agree that TrickyDogs shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such third party web sites or services.</p>

    <p>We strongly advise you to read the terms and conditions and privacy policies of any third party web sites or services that you visit.</p>

    <p><strong>Termination</strong></p>

    <p>We may terminate or suspend your account and bar access to the Service immediately, without prior notice or liability, under our sole discretion, for any reason whatsoever and without limitation, including but not limited to a breach of the Terms.</p>

    <p>If you wish to terminate your account, you may simply discontinue using the Service.</p>

    <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>


    <p><strong>Governing Law</strong></p>

    <p>These Terms shall be governed and construed in accordance with the laws of United States, without regard to its conflict of law provisions.</p>

    <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have had between us regarding the Service.</p>

    <p><strong>Changes</strong></p>

    <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

    <p>By continuing to access or use our Service after any revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, you are no longer authorized to use the Service.</p>

    <p><strong>Contact Us</strong></p>

    <p>If you have any questions about these Terms, please contact us.</p>
</div>
{% endblock %}