{% extends "core/base_articles/articles/index.html" %}


{% block title %}{{object.title}}{% endblock %}


{% block breadcrumb %}
{{block.super}}
<li><a href="{{object.get_absolute_url}}">{{object.title}}</a></li>
{% endblock %}


{% block content %}
{% include "core/base_articles/include/details.html" %}
{% endblock %}

