{% extends "core/base_articles/index.html" %}


{% block title %}Dog training - Articles{% endblock %}

{% block breadcrumb %}
{{block.super}}
<li><a href="{% url 'articles' %}">Articles</a></li>
{% endblock %}
