.thumbnail-basic {
    height: 400px;
}

.asteriskField {
    display: none;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    word-wrap: break-word;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.bs-callout h4 {
    border-bottom: 1px solid rgb(238, 238, 238);
    margin-bottom: 10px;
}

.bs-callout h4:hover {
    border-bottom: 1px dotted grey;
}

.bs-callout a {
    text-decoration: none;
}

.article-meta {
    text-align: right
}

.picture-upload {
  position: relative;
  overflow: hidden;
}

.picture-upload input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

@media screen\9 {
  .picture-upload input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

.trick-content {
    word-wrap: break-word;
}

.thumbnail-article-content {
    float: right;
    margin: 0 10px 10px 0;
}

ul#thumbnails {
    list-style-type: none;
    padding-left:0;
}

ul#thumbnails li {
    display: inline;
}

.thumbnail-basic {
    height: 135px;
    width: 170px;
}

.thumbnail-add-picture {
    text-align: center;
    line-height: 110%;
    height: 135px;
    width: 170px;
    margin-left: 15px;
    margin-right: 4px;
    line-height: 135px;
}

.thumbnail-add-picture span {
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.picture-vote {
    float: right;
}


.thumbnail-article {
    border: 0;
}

.thumbnail-article:hover {
    outline: 1px solid grey;
}

.thumbnail-article h4 {
    text-align: center;
    margin: 0;
}

.pagination>li.disabled>a:hover {
    cursor: pointer;
}