{% extends "index.html" %}

{% block content %}
<div class="col-md-12">
    Welcome
    {{user.username}}

    <ul>
     <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
     <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
    </ul>
</div>
{% endblock %}