{% extends "core/account/index.html" %}
{% load socialaccount %}
{% load crispy_forms_tags %}


{% block breadcrumb %}
{{block.super}}
<li><a href="#">Authenticate</a></li>
{% endblock %}


{% block jumbotron %}
{% endblock %}


{% block content %}
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Not a member?</h3>
        </div>
        <div class="panel-body">
            <form method="post" action="{% url 'account_signup' %}" data-parsley-validate>
                {% csrf_token %}
                {{form|crispy}}
                <button class="btn btn-block btn-social btn- btn-github">
                    <i class="fa fa-paw"></i>
                    Register
                </button>
            </form>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Already on board?</h3>
        </div>
        <div class="panel-body">
            <form method="post" action="{% url 'authenticate' %}">
                {% csrf_token %}
                {{login_form|crispy}}
                <button class="btn btn-block btn-social btn-github">
                    <i class="fa fa-paw"></i>
                    Log in
                </button>
            </form>
            <br />
            Or super-quick facebook login:
            <a class="btn btn-block btn-social btn-facebook" href="{% provider_login_url 'facebook' method='js_sdk' %}">
                <i class="fa fa-facebook"></i>
                Sign in with Facebook
            </a>
        </div>
    </div>
</div>
{% endblock %}
