{% extends "core/base_articles/include/details.html" %}


{% block panel-class %}{% with difficulty=object.get_difficulty_display %}{% if difficulty == 'Easy' %}panel-success{% endif %}{% if difficulty == 'Medium' %}panel-warning{% endif %}{% if difficulty == 'Hard' %}panel-danger{% endif %}{% endwith %}{% endblock %}


{% block article-type %}Trick{% endblock %}


{% block abilities %}
<hr />
<h4>Dogs that can do this trick:</h4>
<div class="row">
    {% if user.default_dog and trick %}
    <div class="col-md-3 thumbnail-add-picture picture-upload btn btn-default">
        <a href="{% url 'dog_can_do' dog=user.default_dog.id pk=object.id slug=object.slug %}">
            <span>
                My dog<br />
                can do this!<br />
            </span>
        </a>
    </div>
    {% endif %}
    {% for ability in trick.dog_abilities.all %}
        {% include "core/gallery/include/gallery-thumbnail.html" with picture=ability.picture %}
    {% endfor %}
</div>
{% endblock %}