{% extends "core/index.html" %}


{% block breadcrumb %}
{{block.super}}
<li><a href="{% url 'tricks' %}">Breeds</a></li>
{% endblock %}


{% block content %}
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">Breeds</div>
        <div class="panel-body">
            <ul class="list-unstyled">
            {% for breed in breeds %}
                <li>{{breed.name}}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}