{% load socialaccount %}

{% if not user.is_authenticated %}
<div class="jumbotron">
    <h1>Hello dog maniac!</h1>
    <p>
        Join our community, show us your dog and let us help in his education.
        <br />
        You will be amazed how smart he is and how fast he learns!
    </p>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a class="btn btn-block btn-social btn-facebook" href="{% provider_login_url 'facebook' method='js_sdk' %}">
                        <i class="fa fa-facebook"></i> Sign-in with Facebook
                    </a>
                </div>
                {% comment %}
                <div class="col-md-3">
                    <a class="btn btn-block btn-social btn-github" href="{% url 'account_signup' %}">
                        <i class="fa fa-paw"></i> Sign-in with email
                    </a>
                </div>
                {% endcomment %}
            </div>
        </div>
</div>
{% elif user.dogs.count == 0 %}
<div class="jumbotron">
    <h1>Add your dog!</h1>
    <p>
        You have no idea how happy we are to welcome you in the dogs community!
        <br />
        Please show us your puppy so we can teach him some tricks.
    </p>
    <p>
        <a class="btn btn-primary btn-lg" href="{% url 'add_dog' %}" role="button">
            Add your dog
        </a>
    </p>
</div>
{% elif user.dog_with_empty_gallery %}
<div class="jumbotron">
    <h1>Add some pictures</h1>
    <p>
        One of your dogs have no any pictures yet.
        <br />
        Please add a few as soon as possible so we can see how sweet he is.
    </p>
    <p>
        <a class="btn btn-primary btn-lg" href="{% url 'add_dog' %}" role="button">
            Add pictures
        </a>
    </p>
</div>
{% endif %}
