{% load account %}
{% load socialaccount %}

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!--TODO  class="active" -->
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'tricks' %}">Tricks</a></li>
                <li><a href="{% url 'sports' %}">Sports</a></li>
                <li><a href="{% url 'articles' %}">Articles</a></li>
                <li><a href="{% url 'dogs' %}">Our Dogs</a></li>
                <li><a href="{% url 'pybb:index' %}">Forum</a></li>
<!--TODO                <li><a href="{% url 'breeds' %}">Breeds</a></li>
                <li><a href="{% url 'dogs' %}">Our Dogs</a></li>
                <li><a href="#">About</a></li>
-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Account: {% user_display user %}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'profile' %}">Your profile</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Your dogs</li>
                        {% for dog in user.dogs.all %}
                        <li><a href="{{dog.get_absolute_url}}">{{dog}}</a></li>
                        {% endfor %}
                        <li class="divider"></li>
                        <li><a href="{% url 'add_dog' %}">Add new puppy</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">End of session</li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{% provider_login_url 'facebook' method='js_sdk' %}">Sign-in</a></li>
                {% endif %}
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>
