{% load cloudinary %}

<div class="row" id="thumbnails">
    {% if can_change %}
    <div class="col-md-3 thumbnail-add-picture picture-upload btn btn-default">
        <a href="#">
        <form action="{% url 'add_dog_picture' dog=dog.id %}" method="post" enctype="multipart/form-data" id="direct_upload">
            {% csrf_token %}
            <span class="">
                Add<br />
                new<br />
                picture
            </span>
            {% cloudinary_direct_upload_field "image" request=request %}
        </form>
        </a>
    </div>
    {% endif %}

    {% for picture in gallery.pictures.all %}
        {% include "core/gallery/include/gallery-thumbnail.html" %}
    {% endfor %}
</div>